<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916433909263-dt513tlfb91aod4e5tktpkik379s60sn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916433909263-dt513tlfb91aod4e5tktpkik379s60sn</string>
	<key>API_KEY</key>
	<string>AIzaSyBTCQYfycwCbqGvpjjcd4GE0vl-esPt9fE</string>
	<key>GCM_SENDER_ID</key>
	<string>916433909263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CloseApp</string>
	<key>PROJECT_ID</key>
	<string>close-47bff</string>
	<key>STORAGE_BUCKET</key>
	<string>close-47bff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916433909263:ios:f1fda0ef4e95061eab557a</string>
</dict>
</plist>